h1 {color:brown;
}
h1 {font-size: 420%;
}
h1 {text-align: center;
}
#img1 {width:60%;
}
#img1 {margin-left: 20%;
}

h2 {font-size: 200%;
}
h2 {text-align: center;
}

h3 {font-size: 120%;
}
h3 {text-align: center;
}
#img3 {width:36%;
}
#img3 {margin-left: 20%;
}
#img4 {width:30%;
}

h4 {font-size: 300%;
}
h4 {text-align: center;
}
h4 {color: brown;
}

p {font-size: 180%;
}
p {text-align: center;
}
#img5 {width:50%;
}
#img5 {margin-left: 25%;
}

body {background-color: burlywood;
}
